.search{
  padding-top: 2%;
  padding-bottom: 5%;
}

header{
  margin-top: 2%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    0%   {opacity: 1;}
    100% {opacity: 0;}
} 

/* Standard syntax */
@keyframes blink {
    0%   {opacity: 1;}
    100% {opacity: 0;}
} 
.nav{
  background: black !important;
  color: white !important;
}
.navbar-default{
  background: black !important;
  color: white; 
}
header{
    padding: 20px 30px;
  color: white;
  background: #0d7963;
  text-align: center;
}
a{
  text-decoration: none !important;
}
header a:hover{
  color: white !important;
}
a:visited{
  color: white;
}
a:hover:after{
    content: "_";
    color: white !important;
    margin-left: 5px;
    -webkit-animation: blink 0.8s linear 0.1s infinite ; /* Chrome, Safari, Opera */
    animation: blink 0.8s linear 0.1s infinite ; /* Standard syntax */
}
.shadow{
  -webkit-transition: box-shadow 0.5s; /* Safari 3.1 to 6.0 */
  transition: box-shadow 0.5s;
  box-shadow: 5px 5px 10px #888888;
}

header a{
  color: white;
}
footer{
  height: 25vh;
  text-align: center;
}
footer a{
  display: inline-block;
  margin-top:5%;
  color: black !important;
  font-size: 2rem;
}
footer a:hover:after{
  color: black !important;
}

ul{
  list-style: none;
}

ul li{
  display: inline-block;
  margin: 3rem 2rem;
}
footer a:visited{
  color: #a57700;
}



/* th-width setting */
/*th:nth-of-type(3),th:nth-of-type(10),th:nth-of-type(2){
  width: 6%;
}


th:nth-of-type(11),th:nth-of-type(12){
  width: 10%;
}*/
th,td{
  text-align: center !important;
}
td a,ol li a{
  color: blue !important;
}
ol li a:hover{
  font-weight: 600;
}
td a,ol li a:hover:after{
  content: "" !important;
}
#about_me:hover:after{
  content: "Hi, I'm Denny Ku" !important;
  animation:none;
  color: black !important;
}
/* Hint */

.table-hint-messages,.hint-messages {
  padding-top: 2rem;
  text-align: center !important;
  color: tomato;
}

/* Pagination */
.pagination-bar li{
  text-align: center;
  margin: 2rem !important;
  padding: 2rem 1rem;
  
}
.pagination-bar a{
  /*border-radius: 100%;*/
  display: inline-block;
  padding: 1rem 1.5rem;
  color: blue !important;
}

/*記得讓pagination 的a padding 變大*/
.pagination-bar a:hover:after{
  content: none !important;
}
.pagination-bar a:hover{
  /*border-bottom: solid 1px blue;*/
}

a.active {
  -webkit-transition: background 2s; /* Safari 3.1 to 6.0 */
  transition: background 2s;

  background: #888;
  cursor: default;
  color: white !important;
}

a.active:hover{
  border: none;
}

td a:hover:after{
  content: none !important;
}

svg text{
  cursor: pointer;
}

.input-mobile{
  font-size: 50px;
  text-align: center;
}
.input-mobile input::-webkit-input-placeholder{
  padding-top: 20px;
  line-height: 40px;
  font-size: 50px;
}

.input-mobile .form-control{
  height: 100px !important;
  font-size: 50px;
}
.input-mobile button{
  font-size: 50px;
  padding-top:20px;
  padding-bottom:20px;
}
